@import "tailwindcss";

@layer base {
  input {
    @apply p-2 border rounded-lg w-full border-gray-400 text-sm;
  }

  button {
    @apply p-2 bg-indigo-500 text-white text-sm rounded-lg w-full;
  }

  h3 {
    @apply text-2xl font-bold;
  }
}
